<div id="header" *ngIf="success">
    <h2>Fotos ausgewählt: {{ selectedAmount }} / {{ maxPhotoAmount }}</h2>
</div>
<div id="photos" *ngIf="success">
    <div
        *ngFor="let photoUrl of photoUrls; index as i"
        class="photo-wrapper"
        (click)="selectPhoto($event)"
        [attr.selected]="initSelected[i] ? '' : null"
    >
        <img src="{{ photoUrl }}" class="photo" name="photo" />
        <img src="assets/check.png" class="check-icon" />
    </div>
</div>